// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.
.bg-primary-400 {
    background-color: #f1eff2!important;
}
.large-screen-svg-primary {
    fill: #f1eff2 !important;
}
.extra-large-screen-top-stripe {
    background-image: linear-gradient(102.02deg,#fb9649 10%,#fb9649 0,#9d0054 45%, #1e3063 55%,#1e3063 75%,#00AEEF 91%) !important;
}
.large-screen-top-stripe {
    background-image: linear-gradient(102.02deg,#fb9649 10%,#fb9649 0,#9d0054 45%, #1e3063 55%,#1e3063 75%,#00AEEF 91%) !important;
}
.medium-screen-top-stripe {
    background-image: linear-gradient(102.02deg,#fb9649 10%,#fb9649 0,#9d0054 45%, #1e3063 55%,#1e3063 75%,#00AEEF 91%) !important;
}
.small-screen-top-stripe {
    background-image: linear-gradient(102.02deg,#fb9649 10%,#fb9649 0,#9d0054 45%, #1e3063 55%,#1e3063 75%,#00AEEF 91%) !important;
}
.font-container {
    background-color: #1e3063 !important;
    }
    .btn-social {
        border: 1px solid #1e3063 !important;
        color: #1e3063 !important;
        }
div.col-md-9{


.text-white {
    color: #1e3063!important;
}}